<!--<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag("logo.png") %>
      </div>
    </div>
  </div>
</section>-->

<section class="conteudo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Qual a sua profissão em um universo paralelo?</h2>
        <p class="text-one">Preencha seus dados e veja qual seria sua profissão em outra vida. Quem não gosta de uma transformaçãozinha na carreira, heim? ;)</p>
      </div>

        <div class="col-md-5">
          <div class="formulario">
            <div class="caixa">
              <%= form_with(model: Lead.new, remote: true) do |form| %>
                <div class="form-group" id="name-group">
                  <label class='control-label' for='lead_name'>Nome:</label>
                  <%= form.text_field :name, id: :lead_name, placeholder: "Nome", class: "form-control" %>
                  <div class="alert alert-danger error-lead-name" role="alert" style="display:none; margin-top: 10px;">
                    <%= fa_icon "exclamation-triangle" %>
                    <span class="sr-only">Error:</span>
                    Favor inserir o nome completo.
                  </div>
                </div>
                <div class="form-group" id='email-group'>
                  <label class="label-two control-label" for="lead_email">
                    E-mail:</label>
                  <%= form.text_field :email, id: :lead_email, placeholder: "Email", class: "form-control" %>
                  <div class="alert alert-danger error-lead-email" role="alert" style="display:none; margin-top: 10px;">
                    <%= fa_icon "exclamation-triangle" %>
                    <span class="sr-only">Error:</span>
                    Favor inserir um e-mail válido.
                  </div>
                </div>
            </div>
              <%= form.submit "REDESCOBRIR MINHA CARREIRA" , :onclick => "return validate();" %>
              <% end %>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Compartilhe e ajude um amigo com sua
          <font>TRANSFORMAÇÃO</font>
        </h3>
        <br>
        <br>
        <div class="social">
          <a target="_blank" href="https://pt-br.facebook.com/gamaacademybr/">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
