<%= form_with(model: profession, remote: true) do |form| %>
  <% if profession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profession.errors.count, "error") %> prohibited this profession from being saved:</h2>

      <ul>
      <% profession.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :profession_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :profession_description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :profession_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
